<ng-container *ngIf="item; else noSelection">

  <div class="item-header">
    <div class="entity-kind-label">{{ entityKind }}</div>

    <div class="field-row name-row">
      <span class="dirty-dot" [class.is-new]="item.isNew" *ngIf="item.isNew || item.name !== item.originalName">●</span>
      <input class="item-name-input" [(ngModel)]="item.name" placeholder="Name" />
      <button mat-icon-button class="revert-btn" title="Revert name"
              *ngIf="!item.isNew && item.name !== item.originalName"
              (click)="item.name = item.originalName">
        <mat-icon>restart_alt</mat-icon>
      </button>
    </div>
    <div class="original-value" *ngIf="!item.isNew && item.name !== item.originalName && item.originalName">{{ item.originalName }}</div>

    <div class="field-row description-row">
      <span class="dirty-dot" *ngIf="!item.isNew && (item.description ?? '') !== (item.originalDescription ?? '')">●</span>
      <input class="item-description-input" [(ngModel)]="item.description" placeholder="Description (optional)" />
      <button mat-icon-button class="revert-btn" title="Revert description"
              *ngIf="!item.isNew && (item.description ?? '') !== (item.originalDescription ?? '')"
              (click)="item.description = item.originalDescription">
        <mat-icon>restart_alt</mat-icon>
      </button>
    </div>
    <div class="original-value" *ngIf="!item.isNew && (item.description ?? '') !== (item.originalDescription ?? '') && item.originalDescription">{{ item.originalDescription }}</div>
  </div>

  <mat-accordion [multi]="true" togglePosition="before">

    <mat-expansion-panel *ngIf="isItem" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Traits</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="trait-assignments">
        <div class="trait-chip"
             *ngFor="let t of asItem.traitAssignments"
             [class.trait-removed]="t.isRemoved"
             [class.trait-new]="t.isNew && !t.isRemoved">
          <span class="trait-chip-name">{{ t.name }}</span>
          <button mat-icon-button class="trait-remove-btn" (click)="removeTrait(t)" *ngIf="!t.isRemoved" title="Remove trait">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button class="trait-restore-btn" (click)="t.isRemoved = false" *ngIf="t.isRemoved" title="Restore trait">
            <mat-icon>undo</mat-icon>
          </button>
        </div>
        <p class="empty-state" *ngIf="asItem.traitAssignments.length === 0">No traits assigned.</p>
        <select class="add-trait-select" (change)="addTrait($event)" *ngIf="unassignedTraits.length > 0">
          <option value="">Add trait…</option>
          <option *ngFor="let t of unassignedTraits" [value]="t.id">{{ t.name }}</option>
        </select>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="!isItem" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Implemented By</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="trait-assignments">
        <ng-container *ngIf="item.id; else unsavedTrait">
          <div class="trait-chip"
               *ngFor="let entry of implementingItems"
               [class.trait-removed]="entry.assignment.isRemoved"
               [class.trait-new]="entry.assignment.isNew && !entry.assignment.isRemoved">
            <span class="trait-chip-name">{{ entry.item.name }}</span>
            <button mat-icon-button class="trait-remove-btn" title="Remove"
                    (click)="removeItemType(entry.item)" *ngIf="!entry.assignment.isRemoved">
              <mat-icon>close</mat-icon>
            </button>
            <button mat-icon-button class="trait-restore-btn" title="Restore"
                    (click)="entry.assignment.isRemoved = false" *ngIf="entry.assignment.isRemoved">
              <mat-icon>undo</mat-icon>
            </button>
          </div>
          <p class="empty-state" *ngIf="implementingItems.length === 0">No item types use this trait.</p>
          <select class="add-trait-select" (change)="addItemType($event)" *ngIf="unimplementingItems.length > 0">
            <option value="">Add to item type…</option>
            <option *ngFor="let i of unimplementingItems" [value]="i.id">{{ i.name }}</option>
          </select>
        </ng-container>
        <ng-template #unsavedTrait>
          <p class="empty-state">Save this trait before assigning it to item types.</p>
        </ng-template>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Properties</mat-panel-title>
      </mat-expansion-panel-header>

      <!-- Flat property list -->
      <app-property-grid
        [properties]="item?.properties ?? []"
        [propertyTypes]="propertyTypes"
        [allowAdd]="true">
      </app-property-grid>

    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Links</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="item.links && objectKeys(item.links).length > 0; else noLinks">
        <app-links-table [links]="item.links" [propertyTypes]="propertyTypes"></app-links-table>
      </ng-container>
      <ng-template #noLinks><p class="empty-state">No links defined.</p></ng-template>
    </mat-expansion-panel>

  </mat-accordion>
</ng-container>

<ng-template #noSelection>
  <p class="empty-state">Select an item or trait to view its details.</p>
</ng-template>
