<div class="links-table">

  <!-- Column headers -->
  <div class="col-header"></div>
  <div class="col-header">Name</div>
  <div class="col-header">Item Type</div>
  <div class="col-header">Cardinality</div>
  <div class="col-header">Properties</div>
  <div class="col-header"></div>

  <!-- Perspective rows -->
  <ng-container *ngFor="let row of visibleRows; trackBy: trackRow">

    <!-- Indicator -->
    <div class="cell indicator-cell">
      <span class="dirty-dot"
            [class.is-deleted]="row.vm.isDeleted"
            *ngIf="row.vm.isDirty">●</span>
    </div>

    <!-- Name -->
    <div class="cell name-cell" [class.cell-deleted]="row.vm.isDeleted">
      <ng-container *ngIf="row.showGroupName">
        <button *ngIf="row.isCollapsible" mat-icon-button class="collapse-btn" (click)="toggleGroup(row.groupName)">
          <mat-icon>{{ isGroupCollapsed(row.groupName) ? 'chevron_right' : 'expand_more' }}</mat-icon>
        </button>
        <span class="group-name" [class.with-chevron]="!row.isCollapsible">{{ row.groupName }}</span>
      </ng-container>
    </div>

    <!-- Item Type -->
    <div class="cell" [class.cell-deleted]="row.vm.isDeleted">{{ row.vm.itemType }}</div>

    <!-- Cardinality -->
    <div class="cell cardinality-cell" [class.cell-deleted]="row.vm.isDeleted">
      <div class="cardinality-inputs">
        <input class="cardinality-input" type="number" [(ngModel)]="row.vm.minCardinality"
               min="0" [disabled]="row.vm.isDeleted" />
        <span class="cardinality-separator">..</span>
        <input class="cardinality-input" type="number" [(ngModel)]="row.vm.maxCardinality"
               min="0" placeholder="∞" [disabled]="row.vm.isDeleted" />
      </div>
      <div class="original-value" *ngIf="row.vm.isDirty && !row.vm.isDeleted">
        {{ row.vm.originalMinCardinality }}..{{ formatMax(row.vm.originalMaxCardinality) }}
      </div>
    </div>

    <!-- Properties -->
    <div class="cell properties-cell">
      <app-property-grid
        *ngIf="!row.vm.isDeleted"
        [properties]="row.vm.link.properties"
        [propertyTypes]="propertyTypes"
        [allowAdd]="true">
      </app-property-grid>
    </div>

    <!-- Actions -->
    <div class="cell actions-cell">
      <button mat-icon-button class="action-btn restore-btn" title="Restore" (click)="restoreRow(row)" *ngIf="row.vm.isDeleted">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button class="action-btn delete-btn" title="Delete" (click)="deleteRow(row)" *ngIf="!row.vm.isDeleted">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </ng-container>
</div>
