<th:block th:fragment="graphItem(item)">
    <div class="resultType" th:attr="data-itemType=${item.itemType}" th:text="${item.itemType}"></div>
    <div class="properties">

        <th:block th:each="prop: ${item.properties}">
            <span class="propertyName" th:text="${prop.key}"></span>
            <span class="propertyValue" th:text="${prop.value}"></span>
        </th:block>

        <span class="propertyName">version</span>
        <span class="propertyValue" th:text="${item.version}"></span>
    </div>

    <span class="resultId" th:text="${item.id}"></span>

    <div class="itemLinks" th:if="${item.containsKey('links')}">
        <div th:each="linkEntry: ${item.links.entrySet}">
            <div class="linkLabel">[[${linkEntry.key}]]</div>
            <div class="linkedItems">
                <div class="linkedItem" th:each="link: ${linkEntry.value}" th:attr="data-id=${link.target.id}">
                    <div th:replace="~{/search/resultItem.html :: graphItem(${link.target})}"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>