<style>
    .itemDefinitionEditor {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .itemTypeName {
                font-weight: bold;
                font-size: 2em;
            }
        }

        .propertyTable {
            display: grid;
            border: 1px solid #999999;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: minmax(auto, auto);
            grid-gap: 1px;
            background-color: #999999;

            div {
                padding: 10px;
                background-color: black;
            }

            .tableHeader {
                font-weight: bold;
            }

            .groupPropertyName {
                padding-left: 50px;
            }
        }
    }
</style>

<div class="itemDefinitionEditor">
    <div class="header">
        <div class="itemTypeName" th:text="${itemDefinition.name}"></div>
        <button class="createNewFieldButton">Add field</button>
    </div>


    <div class="propertyTable">
        <div class="tableHeader">Name</div> <div class="tableHeader">Type</div> <div class="tableHeader">Description</div><div class="tableHeader">Actions</div>

        <th:block th:each="property : ${itemDefinition.properties}">
            <div class="propertyName" th:text="${property.name}"></div>
            <div class="propertyType" th:text="${property.type}"></div>
            <div class="propertyDescription" th:text="${property.description}"></div>
            <div></div>
        </th:block>
        <th:block th:each="propertyGroup : ${itemDefinition.propertyGroups}">
            <div th:text="${propertyGroup.name}"></div>
            <div></div>
            <div></div>
            <div></div>
            <th:block th:each="property : ${propertyGroup.properties}">
                <div class="propertyName groupPropertyName" th:text="${property.name}"></div>
                <div class="propertyType" th:text="${property.type}"></div>
                <div class="propertyDescription" th:text="${property.description}"></div>
                <div></div>
            </th:block>
        </th:block>
    </div>

</div>

<script>
    $(".createNewFieldButton").button().on("click", function () {
        alert("Create field");
    });
</script>