<div class="link-perspective" [class.perspective-deleted]="isDeleted">
  <div class="perspective-header">
    <span class="status-dot"
          [class.is-dirty]="isDirty && !isDeleted"
          [class.is-deleted]="isDeleted"
          *ngIf="isDirty || isDeleted">●</span>
    <div class="perspective-meta">
      <div class="meta-field">
        <span class="meta-label">Item Type</span>
        <span class="meta-value">{{ perspective.itemType }}</span>
      </div>
      <div class="meta-field">
        <span class="meta-label">Cardinality</span>
        <div class="cardinality-inputs">
          <input class="cardinality-input" type="number" [(ngModel)]="editableMin" (ngModelChange)="onCardinalityChange()" min="0" [disabled]="isDeleted" />
          <span class="cardinality-separator">..</span>
          <input class="cardinality-input" type="number" [(ngModel)]="editableMax" (ngModelChange)="onCardinalityChange()" min="0" placeholder="∞" [disabled]="isDeleted" />
        </div>
        <div class="original-value" *ngIf="isDirty && !isDeleted">{{ perspective.minCardinality }}..{{ formatMax(perspective.maxCardinality) }}</div>
      </div>
      <div class="meta-field" *ngIf="perspective.description">
        <span class="meta-label">Description</span>
        <span class="meta-value">{{ perspective.description }}</span>
      </div>
    </div>
    <div class="perspective-actions">
      <button mat-icon-button class="action-btn restore-btn" title="Restore" (click)="restorePerspective()" *ngIf="isDeleted">
        <mat-icon>undo</mat-icon>
      </button>
      <button mat-icon-button class="action-btn delete-btn" title="Delete perspective" (click)="deletePerspective()" *ngIf="!isDeleted">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <app-property-grid
    *ngIf="!isDeleted"
    [properties]="perspective.properties ?? []"
    [propertyTypes]="propertyTypes"
    [allowAdd]="true">
  </app-property-grid>
</div>
